
			body{padding: 0;
				margin: 0;
			    font-family: 'Righteous';
				width: 100%;
				height: 5000px;
				background: rgba(46,46,46,0.97);
				background: -moz-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,46,46,0.97)), color-stop(0%, rgba(46,46,46,1)), color-stop(31%, rgba(64,63,64,1)), color-stop(68%, rgba(38,38,38,1)), color-stop(100%, rgba(43,43,43,1)));
				background: -webkit-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: -o-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: -ms-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: linear-gradient(to right, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);

			}

			/********************************************
			/********************************************
			/********************************************
			/********************************************
			/********************************************


					MENU


			/********************************************
			/********************************************
			/********************************************
			/********************************************/


			.menu-child-1{
				background: white;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				background: black;
			}

			.menu-child-4{
				transform: rotate(-45deg) translate(15px, -11px);
				-webkit-transform: rotate(-45deg) translate(15px, -11px);
				-moz-transform: rotate(-45deg) translate(15px, -11px);
				-ms-transform: rotate(-45deg) translate(15px, -11px);
				background: black;
			}

			.menu-child-0{
				opacity: 0;
			}


			#menu{
				position: fixed;
				width: 50px;
				left: 10px;
				bottom: 2%;
				padding: 5px;
				cursor: pointer;
				z-index: 5000;
			}

			#menu > div{
				width: 50px;
				height: 1px;
				margin: 5px;
				transition: all 0.3s ease-in-out;
				background:  #00F6FA;

			}

			
			#menu-display{
				width: 100%;
				height: 100%;
				position: fixed;
				background:  rgba(0, 205, 232, 0.6);
				z-index: -4999;
				opacity: 0;

			}

			#menu-items-wrapper{
				width: 50%;
				position: relative;
				top: 100px;
				float: left;
			}

			#menu-items-wrapper a {
				color: black;
				display: block;
				text-align: center;
				text-decoration: none;
				font-size: 1.3em;
				padding: 0px;
				width: 30%;
				font-family: 'Josefin Sans', 'Georgia' sans-serif;
				margin: auto;
				font-weight: 100;
				margin-bottom: 35px;
				transition: 0.4s;
			}

			#menu-display a:hover{
				color: black;
			}

			#menu-portfolio-wrapper{
				width: 50%;
				float: right;
			}

			.menu-portfolio{
				width: 100%;
				height: 160px;
				display: block;
				margin: 0px auto;
				text-decoration: none;
			}
			
			.menu-portfolio img{
				display: block;
				width: 50%;
				-webkit-box-shadow: 0px 0px 41px 12px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 41px 12px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 41px 12px rgba(0,0,0,0.75);
				filter: grayscale(100%);
				margin: 0px auto;
				position: relative;
				transition: all 0.3s ease-in-out;
			}



			.menu-portfolio:hover img{
				transform: scale(1.6, 1.6);
				filter: grayscale(0%);
			}







			.blurred{
				filter: blur(4px);
				-webkit-filter: blur(4px);
				-moz-filter: blur(4px);
				-ms-filter: blur(4px);

			}



			#next-web{
				position: fixed;
				bottom: -165px;
				right: 10%;
				width: 250px;
				height: 200px;
				z-index: 999;
				color: black;
				text-decoration: none;
				transition: all 0.1s ease-in-out;
			}

			#next-web:hover{
				bottom: -10px;
			}

			#next-web p{
				width: 50%;
				background: #00F6FA;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
				height: 30px;
				padding: 4px;
				padding-left: 10px;
				margin: 0px;
				line-height: 30px;
			}

			#next-cont{
				padding: 15px;
				background: white;
				margin: 0px;
				height: 120px;
				border-radius: 2px;
				border-top-left-radius: 0px;
				background: #00F6FA;

			}

			#next-web img{
				width: 100%;
				display: block;
			}


			/********************************************
			/********************************************
			/********************************************
			/********************************************
			/********************************************


					ANIMATIONS


			/********************************************
			/********************************************
			/********************************************
			/********************************************/


			
			/*********** 		FLIP IN 		***************/


			@keyframes flipIn {

			  0% {opacity: 1;
			    transform: perspective(600px) rotate3d(1,0,0, 40deg) translate(0%, 50%);
			  }

			  30%{
			  	opacity: 1;
			    
			  }

			  40%{
			    transform: translate(0%, -3%);
			  }
			  80%{
				transform: perspective(600px) rotate3d(1, 0, 0,  360deg) translate(0%, 0%); 
			    transform: perspective(600px);
			  }
				
				100%{
					top: 5%;
					opacity: 1;
				}

			}

			@-moz-keyframes flipIn {

			  0% {opacity: 1;
			    -moz-transform: perspective(600px) rotate3d(1,0,0, 40deg) translate(0%, 40%);
			  }

			  30%{
			  	opacity: 1;
			  }


			  80%{
				-moz-transform: perspective(600px) rotate3d(1, 0, 0,  360deg) translate(0%, 0%); 
			    -moz-transform: perspective(600px);
			  }
				
				100%{
					top: 5%;
					opacity: 1;
				}
			}


			@-webkit-keyframes flipIn {

			  0% {opacity: 1;
			    -webkit-transform: perspective(600px) rotate3d(1,0,0, 40deg) translate(0%, 40%);
			  }

			  30%{
			  	opacity: 1;
			  }


			  80%{
				-webkit-transform: perspective(600px) rotate3d(1, 0, 0,  360deg) translate(0%, 0%); 
			    -webkit-transform: perspective(600px);
			  }
				
				100%{
					top: 5%;
					opacity: 1;
				}
			}

			@-ms-keyframes flipIn {

			  0% {opacity: 1;
			    -ms-transform: perspective(600px) rotate3d(1,0,0, 40deg) translate(0%, 40%);
			  }

			  30%{
			  	opacity: 1;
			  }


			  80%{
				-ms-transform: perspective(600px) rotate3d(1, 0, 0,  360deg) translate(0%, 0%); 
			    -ms-transform: perspective(600px);
			  }
				
				100%{
					top: 5%;
					opacity: 1;
				}
			}


			.flipIn {
			  backface-visibility: visible !important;

			  animation-name: flipIn;
			  animation-fill-mode: forwards;
			  animation-duration: 0.7s;

			  -webkit-animation-name: flipIn;
			  -webkit-animation-fill-mode: forwards;
			  -webkit-animation-duration: 0.7s;

			  -moz-animation-name: flipIn;
			  -moz-animation-fill-mode: forwards;
			  -moz-animation-duration: 0.7s;

			  -ms-animation-name: flipIn;
			  -ms-animation-fill-mode: forwards;
			  -ms-animation-duration: 0.7s;

			}

/*******************************************************************/

			@keyframes opaque{
			  from{
			    opacity: 0;
			  }

			  to{
			    opacity: 1;
			  }
			}

			.opaque{
			  animation: opaque .8s ease-in-out forwards;
			  -webkit-animation: opaque .8s ease-in-out forwards;
			  -moz-animation: opaque .8s ease-in-out forwards;
			  -ms-animation: opaque .8s ease-in-out forwards;
			}

			@keyframes flipMore {

			  20% {
			    transform: perspective(600px) rotate3d(1,0,0, 90deg) translate(0%, -400%);
			    opacity: 0;
			  }
				
			  60%{
			  	opacity: 1;
			  }
				
			  80%{
				transform: perspective(600px) rotate3d(1,0,0, 180deg) translate(0%, 0%); 
				transform: perspective(600px);
			  }
				
			   100%{
					top: 0px;
					opacity: 1;
			    }

			}


			@-webkit-keyframes flipMore {

			  20% {
			    -webkit-transform: perspective(600px) rotate3d(1,0,0, 90deg) translate(0%, -400%);
			    opacity: 0;
			  }
				
			  60%{
			  	opacity: 1;
			  }
				
			  80%{
				-webkit-transform: perspective(600px) rotate3d(1,0,0, 180deg) translate(0%, 0%); 
				-webkit-transform: perspective(600px);
			  }
				
			   100%{
					top: 0px;
					opacity: 1;
			    }

			}


			@-moz-keyframes flipMore {

			  20% {
			    -moz-transform: perspective(600px) rotate3d(1,0,0, 90deg) translate(0%, -400%);
			    opacity: 0;
			  }
				
			  60%{
			  	opacity: 1;
			  }
				
			  80%{
				-moz-transform: perspective(600px) rotate3d(1,0,0, 180deg) translate(0%, 0%); 
				-moz-transform: perspective(600px);
			  }
				
			   100%{
					top: 0px;
					opacity: 1;
			    }

			}

			@-ms-keyframes flipMore {

			  20% {
			    -ms-transform: perspective(600px) rotate3d(1,0,0, 90deg) translate(0%, -400%);
			    opacity: 0;
			  }
				
			  60%{
			  	opacity: 1;
			  }
				
			  80%{
				-ms-transform: perspective(600px) rotate3d(1,0,0, 180deg) translate(0%, 0%); 
				-ms-transform: perspective(600px);
			  }
				
			   100%{
					top: 0px;
					opacity: 1;
			    }

			}


			.flipMore {
			  backface-visibility: hidden !important;
			  animation-name: flipMore;
			  animation-fill-mode: forwards;
			  animation-duration: .8s;
			  -webkit-animation-name: flipMore;
			  -webkit-animation-fill-mode: forwards;
			  -webkit-animation-duration: .8s;
			  -moz-animation-name: flipMore;
			  -moz-animation-fill-mode: forwards;
			  -moz-animation-duration: .8s;
			  -ms-animation-name: flipMore;
			  -ms-animation-fill-mode: forwards;
			  -ms-animation-duration: .8s;

			}




			/********************************************
			/********************************************
			/********************************************
			/********************************************
			/********************************************


						END OF ANIMATIONS


			/********************************************
			/********************************************
			/********************************************
			/********************************************/








			/********************************************
			 ************  	COMMON 		*****************
			 ********************************************/
			
			#main-page-wrapper{
				width: 100%;
				height: auto;
				display: block;
			}

			#animated_1, #animated_2, #animated_3,  #animated_4,  #animated_5, #animated_6{
				opacity: 0;
				width: 90%;
				height: 90%;
				position: relative;
				top: 5%;
				display: block;
				margin: 0px auto;
				-webkit-box-shadow: 0px 11px 39px 0px rgba(0,0,0,1);
				-moz-box-shadow: 0px 11px 39px 0px rgba(0,0,0,1);
				box-shadow: 0px 11px 39px 0px rgba(0,0,0,1);

			}

			#one, #two, #three, #four, #five, #six{ position: absolute;
				width: 100%;
				height: 800px;
				top: 0px;
			}


			.main_layer{width: 100%;
						height: 100%;
						position: relative;
						top: 0px;
						transition: transform 0.9s;
						-webkit-transition: -webkit-transform 0.9s;
						-moz-transition: all 0.9s;
						background: rgba(43,43,43,1);
						background: -moz-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(41,40,41,1) 47%, rgba(23,23,23,1) 100%);
						background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,43,43,1)), color-stop(47%, rgba(41,40,41,1)), color-stop(100%, rgba(23,23,23,1)));
						background: -webkit-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(41,40,41,1) 47%, rgba(23,23,23,1) 100%);
						background: -o-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(41,40,41,1) 47%, rgba(23,23,23,1) 100%);
						background: -ms-linear-gradient(left, rgba(43,43,43,1) 0%, rgba(41,40,41,1) 47%, rgba(23,23,23,1) 100%);
						background: linear-gradient(to right, rgba(43,43,43,1) 0%, rgba(41,40,41,1) 47%, rgba(23,23,23,1) 100%);

			}

			.designer{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				opacity: 1;
				z-index: 3333;
			}

			.left_designer{
				width: 100%;
				height: 100%;
				float: left;
				opacity: 0;
			  	position: absolute;
				z-index: 4444;
			}



			#copyright > p{
					color: #00F6FA;
					font-family: 'Righteous';
					position: fixed;
					font-size: .8em;
					word-spacing: 2px;
					bottom: 10px;
					right: 20px;
			}

			.section-title{
			  position: relative;
			  top: 40%;
			  width: 80%;
			  text-align: center;
			  display: block;
			  margin: 0px auto;
			}

			.section-title:nth-child(3){
			  border: 1px solid white;
			}

			.title-itself{
			  color: #00F6FA;
			  font-family: 'Righteous';
			  font-size: 4em;
			  height: 100px;
			  margin: 0px auto;
			  text-align: center;
			  position: relative;
			  top: 20%;
			  display: block;
			  stroke-dashoffset:800;
			  stroke-dasharray: 800;  
			  }

			 #svg-align{
			 	text-align: center;
			 }


			.dash{
			    animation: dash .9s ease-in-out;
			    animation-delay: .9s;
			    -webkit-animation: dash .9s ease-in-out;
			    -webkit-animation-delay: .9s;
			    -moz-animation: dash .9s ease-in-out;
			    -moz-animation-delay: .9s;
			    -ms-animation: dash .9s ease-in-out;
			    -ms-animation-delay: .9s;
			}
			 
			 @keyframes dash {
			    from {
			      stroke-dashoffset: 800;
			    }
			    to{
			      stroke-dashoffset: 0;

			    }
			 }

			 @-webkit-keyframes dash {
			    from {
			      stroke-dashoffset: 800;
			    }
			    to{
			      stroke-dashoffset: 0;

			    }
			 }

			 @-moz-keyframes dash {
			    from {
			      stroke-dashoffset: 800;
			    }
			    to{
			      stroke-dashoffset: 0;

			    }
			 }

			 @-ms-keyframes dash {
			    from {
			      stroke-dashoffset: 800;
			    }
			    to{
			      stroke-dashoffset: 0;

			    }
			 }


			.mouse_icon{
			  position: absolute;
			  left: 48%;
			  width: 40px;
			  height: 90px;
			  bottom: 1%;
			  z-index: 333;
			}

			.mouse_icon > p{
			  color: white;
			  font-size: .8em;
			  text-align: center;
			}
			.mouse_icon > img:nth-child(2){
				width: 30px;
			      margin: 0px auto;
			      margin-top: 20px;
			      margin-bottom: 10px;
			      display: block;
			      position: relative;
			}

			.mouse_icon > img:nth-child(1){
			  display: block;
			  width: 15px;
			  margin: 0px auto;
			  position: relative;
			  animation: arrow 1s infinite ease-in-out;
			  -webkit-animation: arrow 1s infinite ease-in-out;
			  -moz-animation: arrow 1s infinite ease-in-out;
			  -ms-animation: arrow 1s infinite ease-in-out;
			}


			@keyframes arrow{
			  from{opacity: 1;
			    bottom: 10px;
			    transform: scale(0.9,0.9);
			  }
			  60%{
			    opacity: 0;
			    transform: scale(1.4, 1.4);
			  }
			  to{
			    bottom: -10px;
			    opacity: 1;
			  }
			}

			@-webkit-keyframes arrow{
			  from{opacity: 1;
			    bottom: 10px;
			    -webkit-transform: scale(0.9,0.9);
			  }
			  60%{
			    opacity: 0;
			    -webkit-transform: scale(1.4, 1.4);
			  }
			  to{
			    bottom: -10px;
			    opacity: 1;
			  }
			}

			@-moz-keyframes arrow{
			  from{opacity: 1;
			    bottom: 10px;
			    -moz-transform: scale(0.9,0.9);
			  }
			  60%{
			    opacity: 0;
			    -moz-transform: scale(1.4, 1.4);
			  }
			  to{
			    bottom: -10px;
			    opacity: 1;
			  }
			}

			@-ms-keyframes arrow{
			  from{opacity: 1;
			    bottom: 10px;
			    -ms-transform: scale(0.9,0.9);
			  }
			  60%{
			    opacity: 0;
			    -ms-transform: scale(1.4, 1.4);
			  }
			  to{
			    bottom: -10px;
			    opacity: 1;
			  }
			}


			.numbered p{
			  font-size: 2em;
			  color: black;
			  background-color: #00F6FA;
			  padding: 5px;
			  text-align: center;
			  line-height: 35px;
			  position: absolute;
			  bottom: 20px;
			  left: 20px;
			}


			.curriculum{color: white;
			      text-align: center;
			      width: 200px;
			      top: 200px;
			      position: fixed;
			      top: 5px;
			      width: 180px;
			      left: 43%;
			      border-left: 1px solid #00F6FA;
			      border-right: 1px solid #00F6FA;
			      font-family: 'Righteous';
			      font-size: .8em;
			      font-weight: 200;
			 }

			.curriculum-2{
			  font-family: 'Josefin Sans';
			  color: #00F6FA;
			  font-size: 1.8em;
			  font-weight: 400;
			}		




			/********************************************
			 ************  	PARAGRAPHS 		*****************
			 ********************************************/



			.line_cross:nth-child(1){
			  background: white;
			  width: 200px;
			  position: absolute;
			  height: 1px;
			  opacity: .2;
			  transform: rotateZ(45deg);
			  top: 48%;
			}

			.line_cross:nth-child(2){
			   background: white;
			  width: 200px;
			  position: absolute;
			  height: 1px;
			  opacity: .3;
			  transform: rotateZ(45deg);			  
			}


			.line_cross:nth-child(3){
			   background: white;
			  width: 500px;
			  position: absolute;
			  height: 1px;
			  opacity: .3;
			  transform: rotateZ(-90deg);
			}



			.line_cross:nth-child(4){
			   background: white;
			  width: 500px;
			  position: absolute;
			  height: 1px;
			  opacity: .3;
			  transform: rotateZ(-45deg);
			}


			.introduce{
				color: #00F6FA;
				font-size: 1.4em;
				padding-bottom: 30px;
				display: block;
			}
			.intro_text{
			  color: white;
			  padding: 0%;
			  position: relative;
			  top: 2%;
			  width: 80%;
			  text-align: center;
			  left: 10%;
			  font-size: 1.6em;
			  font-weight: 300;
			  font-family: 'Josefin Sans';
			}

			
			.bluer{
				color:  #00F6FA;

			}

			.intro_text_1{
			  color: white;
			  top: 16%;
			  text-align: center;
			  left: 10%;
			  width: 80%; 
			  position: relative;
			  font-size: 2em;
			  line-height: 40px;
			  font-weight: 300;
			  font-family: 'Josefin Sans';
			  color: white;
			}

			#intro_text_2{
			  color: white;
			  top: 10%;
			  text-align: center;
			  left: 10%;
			  width: 80%; 
			  position: relative;
			  font-size: 2em;
			  font-weight: 300;
			  font-family: 'Righteous';
			  color: white;
			}



			.intro_text_3{
			  position: relative;
			  top: 0%;
			  height: 50%;
			  text-align: center;
			  width: 100%;
			  background: #00F6FA;
			  font-size: 1.6em;
			  font-weight: 300;
			  font-family: 'Righteous';
			  color: black;
			}


			.intro_text_32{
				height: 50%;
				color: #00F6FA;
				width: 100%;
				font-size: 1.8em;
				text-align: center;
				display: block;
				margin: 0px auto;
				position: relative;
				font-family: 'Josefin Sans';
			}

			.intro_text_3 p{
				position: relative;
				top: 30%;
				width: 80%;
				display: block;
				margin: 0px auto;
			}

			.intro_text_32 p{
				position: relative;
				top: 30%;
				width: 80%;
				display: block;
				margin: 0px auto;
			}



			.distance{
				top: 50px;
				position: relative;
				font-family: 'Josefin Sans';
			}

			#skill_list{
			  position: relative;
			  top: 80%;
			  display: block;
			  margin: 0px auto;
			  width: 360px;
			}



			.extra-margin{ 
			  font-size: .8em;
			  left: 101%;
			  position: absolute;

			}

			#skill_list p{
			  padding: 8px;
			  font-family: 'Righteous';
			  color: white;
			  font-size: .8em;
			  font-weight: 400;
			  border-left: 1px solid #00F6FA;
			  display: inline-block;
			  margin: 0px auto;
			}


			.line-comment{
			  width: 30%;
			  height: 1px;
			  background: white;
			  left: 0px;
			  top: 10%;
			  transform: rotate(45deg);
			  position: absolute;
			}


			.container{
				transition: .3s;
			}

			.what-I{
			  color: white;
			  font-size: 2.8em;
			  padding-left: 0%;
			  width: 20%;
			  position: relative;
			  top: 5%;
			  left: 60%;
			  text-align: right;
			  
			}


			.my-name{color: white;
			      text-align: center;
			      width: 180px;
			      position: relative;
			      display: block;
			      margin: 0px auto;
			      top: 5px;
			      border-left: 1px solid #00F6FA;
			      border-right: 1px solid #00F6FA;
			      font-family: 'Righteous';
			      font-size: 1.2em;
			      font-weight: 200;
			 }

			.name-2{
			  font-family: 'Josefin Sans';
			  color: #00F6FA;
			  font-weight: 300;
			  font-size: 1em;
			  font-weight: 400;
			}
			.signature{
			  color: white;
			  position: absolute;
			  font-family: 'Qwigley';
			  font-size: 2em;
			  bottom: 20px;
			  right: 20px;
			  color: #00F6FA;

			}

			#skill_list p:last-child{
			  border-right: 1px solid #00F6FA;
			}




			/***********      LIGHTBOX CLASSES    ****************/
			/***********      LIGHTBOX CLASSES    ****************/
			/***********      LIGHTBOX CLASSES    ****************/





			  .box_shadowing{
				-webkit-box-shadow: 0px 0px 19px 11px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 19px 11px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 19px 11px rgba(0,0,0,0.75);
			  }

			.box_background{
			  background: rgba(46,46,46,0.97);
				background: -moz-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,46,46,0.97)), color-stop(0%, rgba(46,46,46,1)), color-stop(31%, rgba(64,63,64,1)), color-stop(68%, rgba(38,38,38,1)), color-stop(100%, rgba(43,43,43,1)));
				background: -webkit-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: -o-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: -ms-linear-gradient(left, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
				background: linear-gradient(to right, rgba(46,46,46,0.97) 0%, rgba(46,46,46,1) 0%, rgba(64,63,64,1) 31%, rgba(38,38,38,1) 68%, rgba(43,43,43,1) 100%);
			}
			  .lightbox_img{
			    width: 90%;
			    height: 90%;
			    margin: 5%;
			    background-size: cover;
			    background-repeat: no-repeat;
			    background-color: white;
			    position: absolute;
			    background-position: center;
			  }

			  .leftArrow > img, .rightArrow > img{
			    width: 20px;
			    top: 48.7%;
			    z-index: 5001;
			    position: absolute;
			    cursor: pointer;
			  }

			  #lightbox_mainwrapper{
			  	width: 100%;
			  	height: 100%;
			  	position: absolute;
			  	top: 0px;
			  }

			  .lightbox_container{
			    width: 80%;
			    margin: 0px auto;
			    height: 20%;
			    display: block;
			    cursor: pointer;
			  }

			 .lightbox_container:nth-child(1){
			 	background: url('img/web1.png') center no-repeat;
			 	background-size: cover;
			 }
			 .lightbox_container:nth-child(2){
			 	background: url('img/web2.png') center no-repeat;
			 	background-size: cover;
			 }
			 .lightbox_container:nth-child(3){
			 	background: url('img/web3.png') center no-repeat;
			 	background-size: cover;
			 }

			 .lightbox_container:nth-child(4){
			 	background: url('img/web4.jpg') center no-repeat;
			 	background-size: cover;
			 }

			.lightbox_container:nth-child(5){
			 	background: url('img/web5.png') center no-repeat;
			 	background-size: cover;;
			 }			  




			/***********      SKILLS SECTION       **************/


			.icon_skill{
			  width: 100%;
			  display: block;
			  height: 20px;
			}

			.icon_skill img{
			  width: 30px;
			  margin-left: 10px;
			  position: relative;
			}

			.icon_skill p:first-child{
			  color: white;
			  padding-left: 10px;
			  text-align: left;
			  font-size: .6em;
			  position: relative;
			  top: 20px;
			  width: 100%;
			}

			#list-of-skills{
			  width: 90%;
			  height: 200px;
			  position: relative;
			  top: 20%;
			  padding: 5%;

			}


			.skills-group{
			  width: 50%;
			  float: left;
			  height: 30px;
			}


			.absolute{
			  position: absolute;
			}

			.skill-name, .bar, .number-level{
			 display: block;
			  float: left;
			  margin: 8px;
			}

			.skill-name{
			  color: white;
			  font-family: 'Righteous';
			  width: 10%;
			  opacity: 0;
			}
			
			.bar-80{
				width: 80%;
			}

			.bar-73{
				width: 73%;
			}

			.bar-40{
				width: 40%;
			}

			.bar-87{
				width: 87%;
			}

			.bar-95{
				width: 95%;
			}

			.bar{width: 80%;
			background: rgba(0,0,0,1);
			background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 51%, rgba(36,36,36,1) 60%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 88%, rgba(19,19,19,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(25%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(36,36,36,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(88%, rgba(0,0,0,1)), color-stop(100%, rgba(19,19,19,1)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 51%, rgba(36,36,36,1) 60%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 88%, rgba(19,19,19,1) 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 51%, rgba(36,36,36,1) 60%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 88%, rgba(19,19,19,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 51%, rgba(36,36,36,1) 60%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 88%, rgba(19,19,19,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 51%, rgba(36,36,36,1) 60%, rgba(43,43,43,1) 76%, rgba(0,0,0,1) 88%, rgba(19,19,19,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=0 );
			  height: 1px;
			  padding: 1px;
			  border-radius: 5px;
			  margin-top: 15px;
			-webkit-box-shadow: inset 0px -20px 2px -19px rgba(255,255,255,0.61);
			-moz-box-shadow: inset 0px -20px 2px -19px rgba(255,255,255,0.61);
			box-shadow: inset 0px -20px 2px -19px rgba(255,255,255,0.61);
			}

			.full-level{
			  transition: 1s;
			  height: inherit;
			  border-radius: 5px;
			background: rgba(183,222,237,1);
			background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(0,246,250,1) 24%, rgba(73,197,235,1) 51%, rgba(0,246,250,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(24%, rgba(0,246,250,1)), color-stop(51%, rgba(73,197,235,1)), color-stop(100%, rgba(0,246,250,1)));
			background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(0,246,250,1) 24%, rgba(73,197,235,1) 51%, rgba(0,246,250,1) 100%);
			background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(0,246,250,1) 24%, rgba(73,197,235,1) 51%, rgba(0,246,250,1) 100%);
			background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(0,246,250,1) 24%, rgba(73,197,235,1) 51%, rgba(0,246,250,1) 100%);
			background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(0,246,250,1) 24%, rgba(73,197,235,1) 51%, rgba(0,246,250,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#00f6fa', GradientType=1 );

			}

			.number-level{
			  font-family: 'Righteous';
			  color: white;
			  font-size: 1.2em;

			}



			/**********       CONTACT FORM        **************/


			.hire > h5{
			    color: white;
			    padding: 20px 10px;
			    font-size: 3.6em;
			    width: 80%;
			    margin: 0px auto;
			    text-align: center;
			    position: relative;
			    display: block;
			    margin-bottom: 60px;
			    font-family: 'Righteous';

			}
			.hire-description{
			  color: white;
			  font-size: 1.4em;
			  width: 80%;
			  position: relative;
			  font-family: 'Josefin Sans';
			  display: block;
			  margin: 50px auto;
			  text-align: center;
			}

			.available{
				text-align: center;
				font-size: 2em;
			}

			.contact-me{
			  color: white;
			  font-size: 2em;
			  text-align: center;
			  position: relative;
			  width: 100%;
			  margin: 40px auto;
			}

			.email-me, .phone{
				color: white;
				text-decoration: none;
				position: relative;
				display: block;
				margin: 20px auto;
				text-align: center;
				width: 100%;
				font-size: 1.3em;
				z-index: 999;
				cursor: pointer;
			}


			/**********       RESPONSIVE    **************/



			@media(max-width: 900px) and (min-width: 600px){
				#intro_text_2{
					font-size: 1.6em;
				}
			}

			@media(max-width: 600px) and (min-width: 480px){
				#intro_text_2{
					font-size: 1.5em;
				}

				.intro_text_3 p{
					top: 20%;
				}
				
				.intro_text_3{
					font-size: 1em;
				}


				.intro_text_32{
					font-size: 1.5em;
				}

				.intro_text_1{
					font-size: 1.5em;
					line-height: 20px;
				}

				.hire > h5{
					font-size: 1.5em;
				}

				.what-I{
					font-size: 1.5em;
				}

				.hire-description{
					font-size: 1.5em;
				}

				.numbered p{
					padding: 0px;
					width: 35px;
					text-align: center;
					font-size: 1.5em;
				}

				.curriculum{
					left: 25%;
				}

			}

			@media(max-height: 680px){
				
				#menu{
					top: 15px;
					left: 20px;
				}

				#menu > div{
					width: 30px;
				}

				.mouse_icon{
					bottom: 0px;
					left: 44%;
				}

			}


			@media (max-width: 480px){
				.title-itself{
					font-size: 4em;
					left: 0%;
				}
			}


			@media (max-width: 415px){

				.intro_text{
					font-size: 1em;
					width: 95%;
					top: 5%;
					left: 2.5%;
				}

				#menu-portfolio-wrapper{
					display: none;
				}

				#menu-items-wrapper{
					width: 90%;
					margin: auto;
				}

				#skill_list{
					width: 100%;
					font-size: 2em;
				}

				#skill_list p{
					padding: 15px;
					border: 1px solid transparent;
				}


				#intro_text_2{
					font-size: 0.9em;
					width: 95%;
					left: 2.5%;
					margin-bottom: -50px;
				}

				.hire > h5{
					font-size: 1.6em;
				}


				.intro_text_3 p{
					top: 20%;
					font-size: 16px;
				}

				.intro_text_32{
					font-size: 1.2em;
				}

				.intro_text_1{
					font-size: 1.2em;
					line-height: 20px;
				}

				.hire > h5{
					font-size: 1.5em;
				}

				.what-I{
					font-size: 1.2em;
				}

				.hire-description{
					font-size: 1em;
				}

				.available{
					font-size: 1em;
					color: white;
					margin-top: -40px;
				}

				.numbered p{
				  font-size: 1em;
				  color: black;
				  background-color: #00F6FA;
				  padding: 2px;
				  text-align: center;
				  line-height: 15px;
				  position: absolute;
				  bottom: 20px;
				  left: 20px;
				}

				.contact-me{
					font-size: 1.2em;
					margin-top: -30px;
				}

				.email-me, .phone{
					font-size: 1.2em;
				}

				.curriculum{
					left: 25%;
				}

				#next-web{
					bottom: -150px;
					right: 0px;

				}
				.menu-portfolio{
					 border: 1px solid transparent;
				}

			}

			@media (max-width: 670px){
				#skill_list p{
					font-size: .4em;
					padding: 0px;
				}
			}


			@media only screen and (max-width: 715px) and (orientation: landscape){
				
				.animator{
					width: 90%;
				}	

				.intro_text{
					font-size: 1em;
					width: 95%;
					top: 0%;
					left: 2.5%
				}

				.introduce{
					font-size: 1em;
					width: 100%;
					margin-bottom: -30px;
					margin-top: 0px;
				}

				#skill_list{
					width: 100%;
					font-size: 1.7em;
					margin: auto;
					top: 200px;
					display: flex;
				}

				.curriculum{
					font-size: 0.6em;
					left: 65%;
					position: fixed;

				}

				.distance{
					top: 0px;
				}

				#skill_list p{
					padding: 5px;
					border: 1px solid transparent;
				}


				#intro_text_2{
					font-size: 0.7em;
					width: 95%;
					left: 2.5%;
					margin-bottom: -50px;
				}

				.hire > h5{
					font-size: 1.6em;
				}


				.intro_text_3 p{
					top: 20%;
					font-size: 16px;
				}

				.intro_text_32{
					font-size: 1.2em;
				}

				.intro_text_1{
					font-size: 1.2em;
					line-height: 20px;
				}

				.hire > h5{
					font-size: 1.5em;
				}

				.what-I{
					font-size: 1.2em;
				}

				.hire-description{
					font-size: 1em;
					 margin-top: -30px;
				}

				.available{
					font-size: 1em;
					color: white;
					margin-top: -40px;
				}

				.numbered p{
				  font-size: 1em;
				  color: black;
				  background-color: #00F6FA;
				  padding: 2px;
				  text-align: center;
				  line-height: 15px;
				  position: absolute;
				  bottom: 20px;
				  left: 20px;
				}

				.contact-me{
					font-size: 1.2em;
					margin-top: -30px;
				}

				.email-me, .phone{
					font-size: 1.2em;
				}

				.curriculum{
					left: 25%;
				}

				.mouse_icon{
					display: none;
				}

				#menu-items-wrapper{
					width: 100%;
					top: 0px;
				}

				.menu-item{
					font-size: 0.4em;
					display: block;
					padding: 0px 50px;
					width: 200px;
				}

				.menu-portfolio{
					width: 100px;
					margin: 0px auto;

				}

				#menu-portfolio-wrapper{
					display: none;
				}

			}
